@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Edge and IE */
  * {
    -ms-overflow-style: none;
  }

  /* Enable scrolling with mouse or touch */
.scroll-container {
    -webkit-overflow-scrolling: touch;
  }

  .swiper-pagination-bullet {
    background-color: #ccc;
  }
  .swiper-pagination-bullet-active {
    background-color: #333;
  }
  